body{
    font-size: large;
    margin: 0px;
}

.div{
    margin-bottom: 3rem;
}

.p{
    max-width: 30%;
    margin-bottom: 30px;
}

.section{
    margin-left: 10px;
    margin-right: 10px;
}

button{
    height: 35px;
    width: 80px;
    font-size: medium;
    margin: 5px;
}

#dark{
    height: 50px;
    width: 70px;
    border-radius: 100%;
    margin: 10px;
}

#icon{
    margin: 10px;
}

.icon-light{
    content: url('https://api.iconify.design/fa/sun-o.svg?color=%23181717&width=40&height=40');
}

.icon-dark{
    content: url('https://api.iconify.design/game-icons/moon.svg?color=%23d5dfe1&width=40&height=40');
}

#user{
    background-color: rgb(255, 187, 0);
}

#admin{
    background-color: brown;
}

#unknown{
    background-color: blueviolet;
}

#form{
    margin: 2rem;
}

#name{
    text-align: center;
    font-size: medium;
    height: 30px;
}

.buffer{
    min-height: 20vh;
    background-color: none;
}

@media (max-width: 768px) {
    .p{
        max-width: 50%;
    }
}

@media (max-width: 425px){
    .p{
        max-width: 100%;
    }
}